<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div>Farmers Market  </div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active" *ngIf="!userLoggedIn">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active" style="margin-left:1%"  *ngIf="!userLoggedIn">Register</a>

    <a mat-button mat-raised-button routerLink="addnewproduct" routerLinkActive="active" style="margin-left:1%" *ngIf = "userType == 'farmer'">Add-Product</a>

    <a mat-button mat-raised-button routerLink="farmershome" routerLinkActive="active" style="margin-left:1%" *ngIf="userType == 'farmer'">Farmer-Home</a>
   
    <a mat-button mat-raised-button routerLink="product-list" routerLinkActive="active" style="margin-left:1%" *ngIf="userType == 'customer'"> Product</a>
    <a mat-button mat-raised-button routerLink="customerHome" routerLinkActive="active" style="margin-left:1%" *ngIf="userType == 'customer'"> Customer-Home</a>
    <a mat-button mat-raised-button routerLink="cart" routerLinkActive="active" style="margin-left:1%" *ngIf="userType == 'customer'"> Your Cart</a>
    <a mat-button mat-raised-button routerLink="order" routerLinkActive="active" style="margin-left:1%" *ngIf="userType == 'customer'"> Order</a>
    <a mat-button mat-raised-button routerLink="checkout" routerLinkActive="active" style="margin-left:1%" *ngIf="userType == 'customer'"> checkout</a>
    <!-- <a mat-button mat-raised-button routerLink="order" routerLinkActive="active" style="margin-left:1%" *ngIf="userType == 'customer'"> Order</a> -->
    <a mat-button mat-raised-button routerLink="yourprofile" routerLinkActive="active" style="margin-left:1%"  *ngIf="userLoggedIn">Profile</a>
    <a mat-button mat-raised-button style="margin-left:1%" (click)="logOut()"  *ngIf="userLoggedIn">Sign Out</a>
    
    <a mat-button mat-raised-button routerLink="adminDashboard" routerLinkActive="active" style="margin-left:1%" *ngIf="userType == 'admin'"> Admin Home</a> 
    
    <a mat-button mat-raised-button routerLink="adminProductUpdate" routerLinkActive="active" style="margin-left:1%" *ngIf="userType == 'admin'"> Admin Product update</a>
    <a mat-button mat-raised-button routerLink="adminProducts" routerLinkActive="active" style="margin-left:1%" *ngIf="userType == 'admin'"> Admin products </a>
  
        
  </span>
</mat-toolbar>
<div class="container-fluid">
  <app-add-product-template></app-add-product-template>
</div>


<router-outlet></router-outlet>