<!-- <app-search-bar></app-search-bar> -->

<div class="container mt-5 mb-5">

  <div class="row">

      <div class="col-lg-6" *ngIf="productData">
          <a routerLink="../../product-list" class="btn btn-sm btn-dark mb-3 ">Back</a>
          <img src="http://127.0.0.1:8000{{productData.image}}" width="100%"/>

      </div>

      <div class="col-lg-6 col-12">
        <h1 class="mt-3">{{productData.name}}</h1>
        <p>{{productData.description}}</p>
        <p>{{productData.price | currency :'GBP'}}</p>
        
        <input placeholder="Input Quantity"  name="quantity" [(ngModel)]="quantity" required>
        <!-- <form>
        </form> -->
        <!-- <div class="d-flex justify-content-start align-items-center">
          <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em;"></i>
          <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
          <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
          <button (click)="addItemToCart()" class="btn btn-outline-primary btn-lg ml-4">Add to Cart</button>
      </div> -->

        <!-- <a [routerLink]="['../../cart']" class="btn btn-sm btn-dark mb-3">Add to cart</a> -->
        <button type="submit" (click)="addToCart()" class="btn btn-success">Add to cart</button>

      </div>


  </div>

</div>
