
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="row">
      <div class="col-lg-3 mt-3" *ngFor="let product of productData;index as i" style="overflow: auto;">
          <div class="productbox" *ngIf="i<=100">
            <img src="http://127.0.0.1:8000{{product.image}}" />
            <h1>{{product.name}}</h1>
            <p>{{product.price | currency:'GBP'}}</p>
            <p>Stock: {{product.stock}}</p>
            <button mat-flat-button color="primary" (click)="deleteProduct(product.id)">Delete this product</button>
          </div>
      </div>
  </div>
  </div>
</div>
